 @import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
 body {
    font-family: 'Barlow', sans-serif;
     margin:0px auto;
}
/*Animation*/
 header .navbar-nav li .person:hover i {
     -webkit-transform: rotateY(360deg);
     -moz-transform: rotateY(360deg);
     transform: rotateY(360deg);
     transition: all 2s ease;
}
 header .navbar-nav li .bag:hover i {
     -webkit-transform: rotateY(360deg) ;
     -moz-transform: rotateY(360deg) ;
     transform: rotateY(360deg);
     transition: all 2s ease;
}
 @keyframes trash {
     0% {
        background-color:#9d297b;
         color:#fff;
    }
     25% {
        background-color:transparent;
         color:#9d297b;
    }
     50% {
        background-color:#9d297b;
         color:#fff;
    }
     75% {
        background-color:transparent;
         color:#9d297b;
    }
     100% {
        background-color:#9d297b;
         color:#fff;
    }
}
 @keyframes heart {
     0% {
        color:#fff;
    }
     25% {
        opacity:0.1
    }
     50% {
        color:transparent;
    }
     75% {
        color:#fff
    }
     100% {
        color:#fff;
    }
}
/*comman*/
 .p-tb {
    padding-top: 40px;
     padding-bottom: 40px;
}
 .mt-40 {
    margin-top: 40px;
}
 .pb-40 {
    padding-bottom: 40px;
}
 .mb-20 {
    margin-bottom: 20px;
}
 .pb-20 {
    padding-bottom: 20px;
}
 .mtb-20 {
    margin-top:20px;
     margin-bottom: 20px;
}
 .mtb-40 {
    margin-top:40px;
     margin-bottom: 40px;
}
 .color-red {
    color:#ff455d!important;
}
 .color-green {
    color:#189879;
}
 .bgcolor-gray {
    background-color: #666
}
 .bgcolor-green {
    background-color: #18987c
}
 .breadcrumb {
    background-color: transparent;
     border:1px solid #ddd;
     box-shadow: 0px 0px 1px #fefefe;
     margin: 0;
}
 .breadcrumb a {
    color:#189870;
     font-size: 15px;
     text-decoration: none;
}
/*top-bar*/
 .top-bar {
    width:100%;
     height: 40px;
     position: relative;
     display: table;
     padding: 0 30px;
     border-bottom: 1px solid #ddd;
     background-color: #18987c;
}
 .top-bar .top-column {
    width: 50%;
     display: table-cell;
     vertical-align: middle;
}
 .top-bar .top-column a {
    margin:5px 0;
     color:#fff;
     margin-right: 10px;
     text-decoration: none;
     font-size:12px;
     letter-spacing: 0.5px;
}
 .top-bar .top-column a i {
    margin-right: 5px;
}
 .top-bar .top-column a:hover {
    color:#9d297b;
}
 .top-bar .top-column a:last-child {
    margin-right: 0;
}
 .top-bar .top-column:last-child {
    text-align: right;
}
 .top-bar .currency .dropdown-menu {
    left: auto;
     z-index: 9999;
     right:0;
}
 .top-bar .currency .dropdown-menu a {
    color:#aaa;
}
 .top-bar .currency .dropdown-menu a:before {
    margin-right:5px;
}
 .top-bar .currency .dropdown-menu li a{
    color:#189879;
}
 .top-bar .currency .dropdown-menu li a:hover {
    background-color:#e394cc;
     background-image: none;
}
 .top-bar .currency .dropdown-menu li a i {
    margin-right: 5px;
}
 .top-bar .currency .dropdown-menu .active a {
    background-color:#9d297b;
     background-image: none;
}
 .top-bar .currency .dropdown:hover .dropdown-menu {
    display: block;
}
 .top-bar .currency .dropdown-menu .active a, .top-bar .currency .dropdown-menu .active i {
    color:#fff;
}
/*header*/
 header .navbar {
    padding: 10px;
     position: relative;
     top:0 ;
     margin-bottom: 0;
}
 header .navbar-brand {
    margin-left: 0!important;
     padding: 0;
}
 header .navbar-brand img {
    width: 50px;
     height: 100%;
}
 header .navbar-default {
    background-color: #fff;
}
 header .navbar-default .navbar-collapse {
    float: right;
}
 header .navbar-default .navbar-collapse form {
    position: relative;
}
 header .navbar-default .navbar-collapse form .input-bx {
    position: absolute;
}
 header .navbar-default .navbar-collapse form .search {
    position: absolute;
     top:0;
     right:-7px;
     height: 50px;
     width: 50px;
     border:1px solid #ddd;
     border-color: #aaa;
     border-radius: 50%;
}
 header .navbar-nav {
    position: relative;
}
 header .navbar-nav > li {
    margin-right: 10px;
}
 header .navbar-nav > li:last-child {
    margin: 0;
}
 header .navbar-nav > li > a {
    background-color:transparent;
    font-weight:600;
}
 header .navbar-nav > li.active > a {
    border-bottom: 2px solid #189870;
     background-color: transparent!important;
     color: #189870!important;
}
 header .navbar-nav > li.active > a:hover, header .navbar-nav > li.active > a:focus, header .navbar-nav > li > a:focus, header .navbar-nav > li > a:hover {
    border-bottom: 2px solid #9d297b;
     background-color: transparent;
}
 header .navbar-nav > .open > a, header .navbar-nav > .open > a:hover, header .navbar-nav > .open > a:focus {
    background-color:transparent!important;
     border-color: transparent;
}
 header .navbar-nav li.category-l .dropdown-menu {
    padding:15px 0;
}
 header .navbar-nav li.category-l .dropdown-menu li a {
    padding:10px;
}
 header .navbar-nav li.category-l .dropdown-menu li a:hover {
    background-color: #06c99e;
     color:#fff;
}
 header .navbar-nav li.profile.open:hover .dropdown-menu, header .navbar-nav li.cart:hover .dropdown-menu, header .navbar-nav li.category-l:hover .dropdown-menu {
    display: block;
    margin-top:0;
}
 header .navbar-nav li.profile .dropdown-menu {
    left: -50px;
     padding:15px 0;
     border:1px solid #ddd;
}
 header .navbar-nav li.profile .dropdown-menu li {
    padding:0 10px;
}
 header .navbar-nav li.profile .dropdown-menu li a {
    padding-top:10px;
     padding-bottom: 10px;
}
 header .navbar-nav li .person:hover, header .navbar-nav li .bag:hover, header .navbar-nav li .person:focus, header .navbar-nav li .bag:focus{
     border: 1px solid #666;
}
 header .navbar-nav li .person, header .navbar-nav li .bag {
    text-align: center;
     border: 1px solid #ddd;
     line-height: 0;
     height: 50px;
     width: 50px;
     position: relative;
     box-shadow: 0px 0px 5px #e9e9e9;
}
 header .navbar-nav li i, header .navbar-nav li i {
    top:16px;
     left:16px;
     position: absolute;
     font-size:18px;
     text-align: center;
}
 header .navbar-nav li i.fa-shopping-bag {
    top:12px;
}
 header .navbar-nav li .person i.fa-user {
    left:18px;
}
 header .navbar-nav .dropdown-toggle .badge {
    top: -7px;
     position: absolute;
     right: -10px;
     padding:5px;
     font-size:10px;
     background-color: #189870 
}
 header .navbar-nav li.cart .dropdown-menu {
    left:-108px;
     padding:15px 0px;
     min-width: 250px;
     top:50px;
     position:absolute;
}
 header .navbar-nav li.cart .dropdown-menu a {
    padding:10px 0;
     display: inline-block;
}
 header .navbar-nav li.cart .dropdown-menu a i.fa {
    position: absolute;
     right:-138px;
     top:36px;
     font-size: 12px;
     color:red;
}
 header .navbar-nav li.cart .dropdown-menu a .cart-img {
    width:50px;
     height: 50px;
     float: left;
     margin-right:10px;
}
 header .navbar-nav li.cart .dropdown-menu a .cart-text {
    display: inline-block;
     position: relative;
}
 header .navbar-nav li.profile .dropdown-menu li, header .navbar-nav li.cart .dropdown-menu li, header .navbar-nav li.category-l .dropdown-menu li {
    padding:0 10px;
}
 header .navbar-nav li.profile .login-btn {
    background-color: #9d297b;
     color:#fff;
     border-radius: 5px!important;
     padding-top:5px;
     padding-bottom: 5px!important;
     text-align: center;
}
 header .navbar-nav li.profile .login-btn:hover {
    background-color: #189870;
}
 header .navbar-nav li.profile small {
    display: block;
     text-align: center;
     margin: 10px 0px;
}
 header .navbar-nav li.profile small a {
    text-decoration: none;
}

/*Owl carousel*/
 .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
    top:100px;
     padding: 12px;
     color:#aaa;
     border:0.0003em solid #aaa;
     box-shadow:0px 0px 4px #c0c0c0;
}
 .carousel.slide .item h2 {
    font-size: 36px;
}
 .carousel.slide .item h4 strong {
    font-size: 32px;
     margin-left: 10px;
}
 .carousel.slide .item a.btn-shop {
    padding:12px 15px;
     color: #fff;
     background-color: #666;
     display: inline-block;
     border-radius: 5px;
     text-decoration: none;
}
 .owl-carousel .owl-nav .owl-prev {
    left:-45px;
}
 .owl-carousel .owl-nav .owl-next {
    right:-45px;
}

/*offer section*/
 main .offer-section {
    background:url('../images/advertise_1.png');
     background-position: center;
     width: 100%;
     display: table;
     height: 300px;
     margin-top: 20px;
}
 main .offer-section p {
    text-align: center;
     font-weight: 600;
     font-size: 38px;
     color:#189870;
     vertical-align: middle;
     display: table-cell;
     font-family: 'Berkshire Swash', cursive
}
 main .offer-section a {
    display: table-cell;
     vertical-align:middle;
     text-align: center;
     text-decoration: none;
}
 main .offer-section a:hover span {
    color:#189870;
     border-color:#9d297b;
}
 main .offer-section a span {
    color:red;
     font-size: 28px;
     font-weight: bold;
     padding: 10px;
     border: 1px solid #9d297b
}
/*main*/
 main .carousel-indicators {
    margin-bottom: 0;
}
 main .carousel-control .glyphicon-chevron-left, main .carousel-control .glyphicon-chevron-right, main .carousel-control .icon-prev, main .carousel-control .icon-next {
    background-color: #b4b4b4;
     font-size: 18px;
     position:absolute;
}
 main .carousel-control .glyphicon-chevron-left {
    left: 18px;
}
 main .carousel-control .glyphicon-chevron-right {
    right: 18px;
}
 main .carousel-control .glyphicon-chevron-left:before {
    top:10px;
     position: absolute;
     top:6px;
     left: 6px;
}
 main .carousel-control .glyphicon-chevron-right:before {
    top:10px;
     position: absolute;
     top:6px;
     right:6px;
}
 main .carousel-control.left, main .carousel-control.right {
    background-image: none;
}
 main .carousel.slide {
    /*background-image:url('../images/main-bg.jpg');
    */
     background-color: #eee;
}
 main .carousel-inner, main .right-col {
    min-height:540px;
}
 main .carousel.slide .carousel-inner .item {
    position: absolute;
     top:34%
}
 main .carousel-inner .rows {
    width: 100%;
}
 main .d-flex {
    height: 100%;
}
 main .carousel .carousel-inner .item p {
    margin-bottom: 0;
}
/*main .right-col {
    background-color: #f8f8f8;
}
*/
 main .right-col .right-box {
    display: flex;
    flex-direction: column;
     align-items: center;
     height:270px;
     margin-top: 10px;
     background-color: #eee;
}
 main .right-col .right-box img{
    height: 270px;
}
 main .right-col .right-box:first-child {
    margin-top: 0;
     height: 260px;
}
/*login page*/
/*main.login {
    margin-top: 30px;
}
 main.login form {
    padding: 20px;
     box-shadow: 0px 0px 6px #ddd;
     background-color: #fff;
}
 main.login form input {
    border-width:0px 0px 1px 0px;
     border-style: solid;
     border-color: #ddd;
     border-radius: 0;
     box-shadow:unset;
}
 main.login form input:focus {
    border-color: transparent;
     box-shadow: none;
     border-bottom: 1px solid #ddd;
}
*/
 .login .modal-dialog {
    max-width: 400px;
}
 .login .modal-header a.close {
    position: absolute;
     right:14px;
     top:14px;
}
 .login .modal-header {
    border-bottom: unset;
}
 .login .modal-header h5 {
    font-size: 20px;
     text-align: center;
     margin:0;
}
 .login .modal-body .social-login {
    text-align:center;
     margin-bottom: 15px;
}
 .login .modal-body .social-login a {
    display: inline-block;
}
 .login .modal-body .social-login small {
    display: block;
     margin:20px 0;
}
 .login .modal-body .google-log, .login .modal-body .facebook-log {
     padding:10px 15px;
     border-radius: 3px;
     color:#fff;
}
 .login .modal-body .google-log i, .login .modal-body .facebook-log i {
    margin-right: 15px;
     font-size: 18px;
}
 .login .modal-body .google-log {
    background-color: #ea4335;
     margin-right: 10px;
}
 .login .modal-body .facebook-log {
    background-color: #415e9b;
}
 .login .modal-body .signin-f form {
    border:1px solid #ddd;
     border-radius: 5px;
}
 .login .modal-body .signin-f {
    padding:15px 10px;
     text-align: center;
}
 .login .modal-body .signin-f input.form-control {
    border-bottom: 1px solid #ddd;
     border-bottom-left-radius:0;
    border-bottom-right-radius: 0;
     box-shadow: none;
    border-top: transparent;
     border-left: transparent;
     border-right:transparent;
     height: 42px;
     padding-top:10px;
     padding-bottom: 10px;
}
 .login .modal-body .signin-f input.form-control:hover, .login .modal-body .signin-f input.form-control:focus {
    box-shadow: unset;
     border-color:#189870;
}
 .login .modal-body .signin-f .check-bx {
    text-align: left;
     padding:15px;
}
 .login .modal-body .signin-f .check-bx .checkbox-inline {
    font-size: 13px;
}
 .login .modal-body .signin-f .btsubmit {
    text-align: center;
     padding: 10px;
     border:1px solid #ddd;
     margin: 20px auto;
     width: 80%;
     color:#189870;
     border-color: #189870;
     display: block
}
 .login .modal-body .signin-f .btsubmit:hover, .login .modal-body .signin-f .btsubmit:focus {
    background-color: #189870;
     color:#fff;
     border-color: #189870;
}
 .login .modal-body .google-log:hover, .login .modal-body .google-log:focus {
    background-color: transparent;
     border-color: #ea4335;
     color:#ea4335;
}
 .login .modal-body .facebook-log:hover, .login .modal-body .facebook-log:focus {
    background-color: transparent;
     border-color: #415e9b;
     color:#415e9b;
}
/*subscribe email*/
 .sub-email .modal-dialog {
    max-width: 450px;
}
 .sub-email .modal-content {
    position: relative;
     background: #00fdb7;
     overflow: hidden;
     height: 400px;
     border:transparent;
}
 .sub-email .modal-content:before {
    content:'';
     position:absolute;
     display:block;
     background: url('../images/popup-bg.png');
     background-repeat: no-repeat;
     background-position: 50% 0;
     opacity: 0.5;
     width: 100%;
     height: 100%;
}
 .sub-email .modal-body {
    text-align: center;
     top:100px;
}
 .sub-email .modal-body h2 {
    font-size: 36px;
     font-weight: 600;
     color:#fff;
     font-family: 'Berkshire Swash', cursive;
}
 .sub-email .modal-body h5 {
    font-size: 22px;
     font-weight: 400;
     color:#fff;
}
 .sub-email .modal-body .signin-f input {
    border-radius: 0;
     background-color:rgba(24,152,112,0.3);
     border:0;
     color:#fff;
     text-align: center;
}
 .sub-email .modal-body .signin-f input::placeholder {
    color:#ddd;
}
 .sub-email .modal-body .signin-f input:focus,.sub-email .modal-body .signin-f input:hover {
    box-shadow: none;
}
 .sub-email .modal-body .signin-f .btsubmit {
    padding: 10px 30px;
     text-align: center;
     color:#fff;
     border:1px solid #fff;
     font-size: 18px;
     margin-top: 20px;
     border-radius: 0;
}
 .sub-email .modal-body .signin-f .btsubmit:hover,.sub-email .modal-body .signin-f .btsubmit:focus {
    box-shadow: 0px 0px 5px #ddd;
}
 main .prd-slider {
    padding:40px 0px;
     text-align: center;
}
 main .prd-thumb {
    padding: 10px;
     border:1px solid #ddd;
     margin-right: 10px;
     border-top-right-radius:5PX;
    border-top-left-radius:5px;
     box-shadow: 0px 0px 10px #ddd;
     margin-bottom: 20px;
}
 main .prd-thumb:last-child {
    margin-right:0;
}
 main h2.h-headings {
    text-align: center;
     font-weight: 600;
     padding-top:20px;
     padding-bottom:15px;
     font-size: 25px;
     text-transform: uppercase;
     color:#666;
     display: inline-block;
     /*border-bottom: 3px solid #189870;*/
     margin-top: 20px;
     margin-bottom: 0;
}
 main .prd-slider .item {
     border:1px solid #ddd;
     box-shadow: 0px 0px 5px #d7d7d7;
}
 main .prd-slider .discount {
    max-height: 480px;
}
 main .prd-slider .prd-detail, main .r-pannel .prd-thumb .prd-detail , .w-pannel .prd-thumb .prd-detail {
    padding:12px 0px;
     border-top:1px solid #ddd;
}
 main .prd-slider .prd-detail a, main .r-pannel .prd-thumb .prd-detail a, .w-pannel .prd-thumb .prd-detail a {
    text-decoration: none;
     color:#6c6c6c;
     display: inline-block;
     width: 100%;
}
 main .prd-slider .prd-detail a h3, main .r-pannel .prd-thumb .prd-detail a h3, .w-pannel .prd-thumb .prd-detail a h3 {
    font-size: 14px;
     margin: 0;
     font-weight: 400;
     margin:10px 0;
}
 main .prd-slider .prd-detail .discounted, main .r-pannel .prd-thumb .prd-detail .discounted {
    color:#189870; font-size: 16px; font-weight: 500;
}
 main .prd-slider .prd-detail strike {
    font-size: 10px;
     margin-left: 10px;
}
 main .prd-thumb .prd-detail span {
    font-size: 16px;
     color:#189870;
}
 main .prd-slider.discount-offer {
     padding-right: 15px;
}
 main .prd-slider .overlay-disc {
     position: relative;
     top:0;
     left:0;
     content: '';
     display: flex;
     background: url(../images/advertise_4.jpg);
     background-repeat: no-repeat;
     z-index: 998;
     width: 100%;
     height: 480px;
     align-items: center;
     flex-wrap: wrap;
     background-size: 100%;
     background-position: top center;
     place-content:center;
     flex-flow: column nowrap;
}
 main .prd-slider .overlay-disc:before {
    position: absolute;
     content: '';
    /* background-color: rgba(110,110,110,0.4);*/
     width: 100%;
     height: 100%;
     left:0;
     transition: ease 0.2s;
}
 main .prd-slider .overlay-disc p {
    font-size: 43px;
     text-align: center;
     color:red;
     z-index: 9999;
     display: flex;
     align-items: center;
    display: flex;
     align-items: center;
     flex-direction: column;
}
 main .prd-slider .overlay-disc span {
    font-size: 32px;
     vertical-align: middle;
     color:#fff;
     font-weight: 600;
     text-align: center;
     display: flex;
     align-items: center;
     flex-direction: column;
     z-index: 99
}
 main .prd-slider .overlay-disc a {
    font-size: 16px;
     vertical-align: middle;
     padding: 15px;
    border-radius: 0;
    z-index: 99999;
    color: #fff;
    background-color:#ff455d;
    position: absolute;
    font-weight: bold;
    bottom:75px;
    
}
/*main .prd-slider .overlay-disc p {
    font-size: 43px;
     text-align: center;
     color:red;
     position: absolute;
     top:40%;
     left: 30%;
     z-index: 9999;
}
 main .prd-slider .overlay-disc span {
    font-size: 32px;
     vertical-align: middle;
     color:#fff;
     position: absolute;
     top:30%;
     left:25%;
     font-weight: 600;
     text-align: center;
}
 main .prd-slider .overlay-disc a {
    font-size: 16px;
     vertical-align: middle;
     padding: 15px;
     color:#fff;
     background-color: #189870;
     top:60%;
     left:45% ;
     position: absolute;
     z-index: 99999;
}
*/
 main .prd-slider .overlay-disc a:hover {
    background-color: transparent;
     border:1px solid #00469e;
     color:#fff;
}
 main .prd-thumb .prd-detail a.remove {
    float: right;
     padding: 8px;
     background-color:#9d297b;
     color:#fff;
     border-radius: 5px;
     font-weight: 400;
     box-shadow:0px 0px 5px #ddd;
     margin: 0;
     text-decoration: none;
     display: inline-block;
     width: auto;
     font-size: 18px;
}
 main .prd-thumb .prd-detail a.remove:hover {
    background-color: transparent;
     color:#9d297b;
    -webkit-animation-name: trash;
    /* Safari 4.0 - 8.0 */
     -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
     animation-name: trash;
     animation-duration: 4s;
}
 main .prd-thumb .prd-detail a.remove:clicked {
}
 main .prd-slider .prd-img-bx, main .r-pannel .prd-thumb .prd-img-bx, .w-pannel .prd-thumb .prd-img-bx {
    position: relative;
}
 main .prd-slider .prd-img-bx img, main .r-pannel .prd-thumb .prd-img-bx img, .w-pannel .prd-thumb .prd-img-bx img {
    border-top-right-radius: 5px;
     border-top-left-radius: 5px;
}
 .discount-tag {
    background-color: #189870;
     position: absolute;
     top:0;
     left:10;
     padding:5px;
     color:#fff;
     border-radius: 5px;
     box-shadow: 0px 0px 5px #5a5555;
     z-index: 999;
}
 main .prd-slider .prd-img-bx .overlay, main .r-pannel .prd-thumb .prd-img-bx .overlay, .w-pannel .prd-thumb .prd-img-bx .overlay{
    position: absolute;
     bottom: 100%;
     left: 0;
     right: 0;
     background-color: rgba(0,0,0,0.4);
     width: 100%;
     height: 0;
     transition: .3s ease;
     overflow: hidden;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
     display: flex;
     flex-direction: column;
     align-items: center;
     place-content:center;
     flex-flow: column nowrap;
}
 main .prd-slider .item:hover .overlay, main .r-pannel .prd-thumb:hover .overlay, .w-pannel .prd-thumb:hover .overlay {
    height: 100%;
     bottom: 0;
}
 main .prd-slider .item .overlay .btn-cart, main .r-pannel .prd-thumb .prd-img-bx .overlay .btn-cart, .w-pannel .prd-thumb .prd-img-bx .overlay .btn-cart {
    padding: 10px;
     background-color: #fff;
     font-size: 16px;
     text-align: center;
     text-decoration: none;
     font-weight: 500;
     border-radius: 5px;
     color:#189879;
     margin-top: 10px;
     display: flex;
     align-items: center;
     flex-direction: column;
}
 main .w-pannel .prd-thumb .prd-img-bx .overlay .btn-cart {
     left: 32%;
}
 main .prd-slider .item .overlay .btn-cart i, main .r-pannel .prd-thumb .prd-img-bx .overlay .btn-cart i, .w-pannel .prd-thumb .prd-img-bx .overlay .btn-cart i {
    font-size: 16px;
     margin-right: 5px;
}
 main .prd-slider .item .overlay .btn-cart:hover, main .r-pannel .prd-thumb .prd-img-bx .overlay .btn-cart:hover, .w-pannel .prd-thumb .prd-img-bx .overlay .btn-cart:hover {
    background-color: #189870;
     color:#fff;
     border-color: transparent;
}
 main .prd-slider .item .prd-img-bx .overlay a.fa, main .r-pannel .prd-thumb .prd-img-bx .overlay a.fa, .w-pannel .prd-thumb .prd-img-bx .overlay a.fa{
    white-space: nowrap;
     color: white;
     font-size: 28px;
     font-weight: 600;
     overflow: hidden;
     top: 40%;
     transform: translate(0%, -50%);
     height: 30px;
     width: 30px;
     display: flex;
     align-items: center;
     flex-direction: column;
}
 main .prd-slider .item .prd-img-bx .overlay a.fa:before, main .r-pannel .prd-thumb .prd-img-bx .overlay a.fa:before, .w-pannel .prd-thumb .prd-img-bx .overlay a.fa:before {
    position: absolute;
     left: 1px;
}
/*owl-carousel*/
 main .owl-carousel .item {
    margin-right: 20px;
     padding:15px;
}
 main .owl-carousel .item:last-child {
    margin-right: 0;
}
 main .owl-prev {
    position: absolute;
     left: 0;
}
 main .owl-next {
    position: absolute;
     right: 0;
}
/*footer*/
 footer .newsletter {
    background-color:#f5fff6;
     padding-top: 50px;
     padding-bottom: 50px;
}
 footer .newsletter h2 {
    color:#189870;
     text-align: center;
}
 footer .newsletter .subs-bx {
    display: flex;
     flex-direction: column;
     align-items: center;
     margin: 20px 0;
     position: relative;
}
 footer .newsletter .subs-bx input {
    width: 40%;
     background-color: transparent;
     border-color: transparent;
     outline: none;
     box-shadow: none;
     border-bottom: 1px solid #189870;
     border-radius: 0;
     color:#189870;
}
 footer .newsletter .subs-bx input::placeholder {
    color:#c4c4c4;
}
 footer .newsletter .subs-bx a {
    position: absolute;
     left: 68%;
     font-size: 25px;
     color:#AAA;
     text-decoration: none;
}
 footer .newsletter .subs-bx a:hover {
     -webkit-transform: rotateX(360deg);
     -moz-transform: rotateX(360deg);
     transform: rotateX(360deg);
     transition: all 0.9s ease;
     color:#189870;
}
 footer .foot-col-div p.query {
    font-size: 14px;
     letter-spacing: 0.4px;
     margin-bottom: 15px;
     color:#bcbcbc;
}
 footer .foot-col-div {
    padding:40px 60px;
}
 footer .foot-col-div h3 {
    font-weight: 600;
     font-size: 18px;
     color:#189870;
}
 footer .foot-col-div .social-links .fa {
    font-size: 24px;
     margin-right: 15px;
     color:#aaa;
     text-decoration: none;
}
 footer .foot-col-div .social-links .fa:hover {
    color:#666;
}
 footer .foot-col-div .social-links .fa:last-child {
    margin: 0;
}
 footer .text-copy {
    padding:10px 0;
     text-align: center;
     margin:0;
     color:#fff;
     font-size: 12px;
}
 footer ul.f-menu li {
    margin: 5px 0;
}
 footer ul.f-menu li a {
    text-decoration: none;
}
 footer .r-policy {
    padding-left: 50px;
     position: relative;
}
 footer .r-policy li {
    margin: 20px 0;
}
 footer .r-policy .fa {
    position: absolute;
     left: 0;
     font-size: 18px;
     border:1px solid #aaa;
     border-radius: 50%;
     padding: 10px;
     height: 40px;
     width:40px;
     line-height: 18px;
     text-align: center;
     color:#acacac;
}
 footer .r-policy h5 {
    color:#666;
     margin: 8px 0;
}
 footer .r-policy p {
    font-size: 12px;
     color:#bcbcbc;
     margin: 5px 0;
}
/*Cart page*/
 .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 20px;
}
 .cart-page .table tr td, .cart-page .table tr th {
    vertical-align:middle;
}
 .cart-page .table thead th {
    font-size: 18px;
     color:#666;
}
 .cart-page .table tbody th {
    font-size: 16px;
     color:#aaa;
}
/*.cart-page .cart-nav {
    border-bottom: 1px solid #ccc;
     background-color: #189870;
     color:#fff;
     padding: 20px 20px;
     display: inline-block;
     text-align: center;
}
*/
 .page-heading {
    text-align: center;
     margin-bottom: 20px;
}
 .page-heading h2 {
    color:#fff;
     margin:0;
     display: inline-block;
     padding: 20px 20px 20px 50px;
    background-color:#189870;
     position: relative;
     width: 100%;
     font-size: 28px;
    box-shadow:0px 0px 8px #7d7d7d;
}
 .page-heading h2 i {
    margin-right: 20px;
     font-size: 26px;
     position: absolute;
     top:13px;
     left: 41%;
     -webkit-animation-name: heart;
    /* Safari 4.0 - 8.0 */
     -webkit-animation: heart 2s infinite;
    /* Safari 4.0 - 8.0 */
     animation: heart 2s infinite;
     animation-name: heart;
     background-color:rgba(22,191,138,0.6);
     border-radius: 50%;
     padding: 10px;
     text-align: center;
}
 .cart-page .table {
    margin-top: 30px;
}
 .cart-page .table .prd-item {
    display: table;
     width: 100%;
     min-width: 150px;
}
 .cart-page .table .prd-thumb {
    display:table-cell;
     vertical-align: middle;
     width: 130px;
     padding-right: 15px;
}
 .cart-page .table .prd-thumb img {
    width:80px;
}
 .cart-page .table .prd-info {
    margin-left: 20px;
}
 .cart-page .table .prd-info h4 {
    font-size: 16px;
     margin:10 0;
}
 .cart-page .table .prd-info span {
    color:#aaa;
     font-size: 14px;
     font-weight: 400;
     display: block;
}
 .cart-page .table .prd-info span em {
    color:#aaa;
     font-weight: 400;
     font-size: 14px;
}
 .cart-page .table select.form-control:focus {
    border-color: #ddd;
     box-shadow: unset;
}
 .cart-page .cart-ttl {
    display: inline-block;
     border-top: 1px solid #ddd;
     width: 100%;
     border-bottom: 1px solid #ddd;
     padding-top: 15px;
     padding-bottom: 15px;
}
 .cart-page .cart-ttl .cpn input {
    width:100%;
     max-width: 210px;
     float: left;
     border-bottom: 1px solid #ddd;
     border-top:transparent;
     border-left: transparent;
     border-right: transparent;
     box-shadow: unset;
     border-radius: 0;
}
 .cart-page .cart-ttl .cpn a {
    color:#666;
    border:1px solid #189870;
}
 .cart-page .cart-ttl .cpn a:hover {
    color:#fff;
     background-color: #189870;
     border-color: transparent;
}
 .cart-page .cart-ttl .sub-total-r {
    text-align: right;
}
 .cart-page .cart-ttl .sub-total-r h5 {
    font-size: 18px;
     font-weight: 400;
     color:#666;
}
 .cart-page .cart-ttl .sub-total-r h5 span {
    font-weight: 600;
}
 .cart-page .cart-0out {
    padding-top: 15px;
     padding-bottom: 15px;
     width: 100%;
     display: inline-block;
}
 .cart-page .cart-0out a.btn {
     padding: 10px;
     margin-right: 10px;
     text-align:right;
     color:#fff;
}
 .cart-page .cart-0out a.btn:last-child {
    margin-right: 0;
}
 .cart-page .cart-0out a.up {
    background-color: #189879
}
 .cart-page .cart-0out a.check {
    background-color:#9d297b;
}
/*Product listing page*/
 .text-light {
    font-size: 12px;
     color:#aaa;
     font-weight: 500;
}
 header.bg-banner {
    background-image: url('../images/bg-banner.png');
     background-position: 0% -219px;
     display: flex;
     flex-direction: column;
     color:#fff;
     justify-content: center;
     overflow: hidden;
     align-items:center;
     background-repeat: no-repeat;
     height: 290px;
}
 main .l-pannel {
     border: 1px solid #ddd;
     border-radius: 5px;
}
 main .l-pannel h2{
    font-size: 18px;
    padding: 18px 0;
     font-weight: 600;
     margin: 0;
}
 main .l-pannel .list-group {
    padding-bottom: 20px;
     margin-bottom: 0;
     border-bottom: 1px solid #ddd;
}
 main .l-pannel .list-group-item {
    padding:10px 0;
     border:0px;
     margin: 0;
}
 main .l-pannel .list-group-item a.cat-list {
    text-decoration: none;
     color:#666;
     font-size: 15px;
     font-weight: 600;
}
 main .l-pannel .list-group-item ul.sub-c {
    padding: 10px 0;
}
 main .l-pannel .list-group-item ul.sub-c li {
    padding:5px 15px;
}
 main .l-pannel .list-group-item ul.sub-c li a {
    font-size: 14px;
     color:#aaa;
}
 main .l-pannel .list-group-item ul.sub-c li a span {
    float: right;
}
 main .l-pannel .list-group-item a i {
    font-size: 14px;
    position: absolute;
     top:16px;
     right:12px;
}
 main .l-pannel .range-slide {
    padding-bottom: 20px;
     border-bottom: 1px solid #ddd;
}
 main .l-pannel .range-slide input {
    margin: 10px 0;
}
 main .l-pannel .range-slide .ui-slider {
    margin: 5px 0;
}
 main .l-pannel .fliter-size {
    border-bottom:0px;
}
 main .l-pannel .fliter-cb label, .fliter-size label {
     font-size: 15px;
     font-weight: 600;
}
 main .l-pannel .fliter-cb label input, .fliter-size label input {
    height: 15px;
     width: 15px;
}
 /*.ui-state-focus, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border-color: #189870;
     background-color: #189870;
}*/
 .ui-widget-header {
    background-color: #9d297b;
}
 .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    border-color: #9d297b;
     background-color: #transperant;
}
 main .r-pannel .column {
    display: table;
     width: 100%;
     margin-bottom: 20px;
     padding-bottom: 20px;
     border-bottom: 1px solid #ddd;
}
 main .r-pannel .list-column {
    border-bottom: 1px solid #ddd;
     padding-bottom: 20px;
}
 main .r-pannel .top-controls {
    display: table-cell;
    vertical-align: middle;
     text-align: right;
}
 main .r-pannel .top-controls .control-sort {
     display: inline-block;
     margin-right: 10px;
}
 main .r-pannel .top-controls .control-sort:last-child {
    margin-right: 0;
}
 main .r-pannel .top-controls label {
    display: inline-block;
     vertical-align: middle;
     margin-right: 10px;
}
 main .r-pannel .top-controls select.form-control:focus {
    box-shadow: unset;
     border-color: #ddd;
}
 main .r-pannel .top-controls select.form-control {
    max-width: 160px;
     vertical-align:middle;
     display: inline-block;
     margin-right: 10px;
     border-color: #ddd;
     width: auto;
}
 main .r-pannel .top-controls select.form-control:last-child {
    margin-right: 0;
}
 main .r-pannel .top-controls select.form-control option {
    padding:8px 0;
}
 main .r-pannel .pagination > li > a, .pagination > li > span {
    color:#189870;
}
 main .r-pannel .pager li > a:hover, main .r-pannel .pager li > a:focus, main .r-pannel .pagination > li > a:hover, main .r-pannel .pagination > li > span:hover, main .r-pannel .pagination > li > a:focus, main .r-pannel .pagination > li > span:focus {
    background-color: #189870;
     color:#fff;
     border-color: #189870
}
 main .r-pannel .pager li > a, main .r-pannel .pager li > span {
    color:#189870;
}
 main .r-pannel .navigation ul.pager {
    display:inline-block;
     float: right;
}
 a.filter {
    visibility:hidden;
}
 main .l-pannel .closebtn {
    visibility: hidden;
}
/*Product-detais page*/
 .left-box-pdetail {
    padding:15px;
     border:1px solid #ddd;
     border-radius: 5px;
}
 .left-box-pdetail .big-thumb img {
    border-radius: 5px;
}
 .left-box-pdetail ul {
    text-align: center;
}
 .left-box-pdetail ul li {
    display: inline-block;
     margin-right: 10px;
}
 .left-box-pdetail ul li:last-child {
    margin-right: 0;
}
 .left-box-pdetail ul li a {
    padding: 10px;
     border:1px solid #ddd;
     border-radius: 5px;
     display: inline-block;
}
 .thumb-img {
    width: 60px;
     height: 60px;
     display: inline-block;
     object-fit: cover;
}
 .right-box-pdetail .rating {
    display: inline-block;
}
 .right-box-pdetail .rating i {
    font-size: 16px;
     display:inline-block;
     margin-right: 5px;
}
 .right-box-pdetail .rating i:last-child {
    margin-right: 0;
}
 .right-box-pdetail .r-rew {
    margin-left: 10px;
     color:#aaa;
     font-size: 16px;
}
 .right-box-pdetail .prd-title {
    margin-bottom:15px;
     padding-top: 20px;
     margin-top: 0;
}
 .right-box-pdetail .prd-price {
    font-size: 28px;
     font-weight: 600;
     color:#aaa;
     margin-bottom: 20px
}
 .right-box-pdetail .prd-price strike {
    font-size: 20px;
     font-weight: 500;
     color:red;
}
 .right-box-pdetail .prd-fdetail {
    margin-bottom: 20px;
     font-size: 16px;
     color:#666;
     text-align: justify;
}
 .right-box-pdetail .r-sel-area label {
    color:#aaa;
     font-weight:500;
}
 .right-box-pdetail .r-sel-area select:focus {
     border-color: #ddd;
     box-shadow: unset;
}
 .right-box-pdetail .prd-code, .right-box-pdetail .prd-cat {
    color:#aaa;
     padding-bottom: 20px;
}
 .right-box-pdetail .prd-code span, .right-box-pdetail .prd-cat span {
    font-weight: 600;
     font-size: 18px;
     color:#666;
}
 .right-box-pdetail .prd-cat {
    border-bottom: 1px solid #ddd;
}
 .btn-group-bx {
    padding: 15px;
     text-align: right;
}
 a.btn-add {
    text-decoration: none;
}
 .btn-add {
    padding:10px 15px;
     background-color: #189870;
     color:#fff;
     border-radius: 5px;
     display: inline-block;
}
 .btn-add:hover {
    border:1px solid #189870;
     color:#189870;
     background-color: transparent;
}
 .fav-color {
    background-color: #9d297b
}
 .fav-color:hover {
    border-color: #9d297b!important;
     color:#9d297b!important;
     background-color: transparent;
}
 .right-box-pdetail .share-social {
    line-height: 38px;
}
 .right-box-pdetail .share-social span {
    display: inline-block;
     float: left;
     font-weight: 600;
     color:#666;
}
 .right-box-pdetail .share-b a {
    font-size: 15px;
     border: 1px solid #ddd;
     height: 30px;
     width: 30px;
     border-radius: 50%;
     text-align: center;
     line-height: 30px;
     text-decoration: none;
     margin-right:3px;
     color:#666;
}
 .right-box-pdetail .share-b a:last-child {
    margin-right: 0;
}
 .prd-info .panel-default {
    border-color: #189870;
}
 .prd-info .panel-default .panel-body {
    border-color: #189870;
     color:#aaa;
}
 .prd-info .panel-heading {
    background-color: #f5fff6;
     border-color: #189870;
     border-radius: 5px;
}
 .prd-info .panel-title a {
     text-decoration: none;
     color:#666;
}
 .filter.navbar-toggle {
    background-color: #ddd;
     border-color:#189870
}
 .filter.navbar-toggle span {
    background-color: #189870;
}
/*Media Query*/
 @media (min-width: 320px) and (max-width: 480px) {
     main .prd-slider .overlay-disc {
        height: 200px
    }
     .sub-email .modal-dialog {
        max-width: 300px;
         margin: 0px auto;
    }
     .sub-email .modal-dialog .modal-body {
        padding: 25px;
    }
     .cart-page .table-responsive {
        margin-top: 10px;
    }
     .owl-carousel.owl-theme .owl-item {
        padding:0 15px;
    }
     .carousel.slide .item h2 {
        font-size: 20px;
    }
     .carousel.slide .item img {
        max-width: 180px;
         margin:0px auto;
    }
     .cart-page .table .prd-thumb img {
        width: 60px;
    }
     .discount-tag {
        left:17px;
    }
     .breadcrumb {
        margin-bottom: 15px;
    }
     .owl-carousel .owl-nav .owl-next {
        right:-10px;
    }
     .owl-carousel .owl-nav .owl-prev {
        left: -10px;
    }
     .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
        top:150px;
    }
     .page-heading h2 i {
        left:25%
    }
     header .navbar-nav > li > a {
        color:#189870!important;
         padding-left: 40px;
    }
     main .carousel.slide .carousel-inner .item {
        top:12%;
    }
     main .carousel-inner {
        min-height: 410px;
    }
     main .carousel-inner .rows {
        padding-left: 15px;
         padding-right: 15px;
    }
     main .carousel-control .glyphicon-chevron-left:before {
        left: -7px;
    }
     main .carousel-control .glyphicon-chevron-right:before {
        right: -6px;
    }
     main .prd-slider .overlay-disc span {
         font-size: 20px;
    }
     main .prd-slider .overlay-disc p {
        font-size: 18px;
    }
     main .prd-slider .overlay-disc a {
        font-size: 14px;
         padding: 5px 5px;
    }
     main .r-pannel .top-controls .control-sort {
        width: 100%;
    }
     main .r-pannel .navigation {
        text-align: center;
    }
     main .r-pannel .navigation .pager {
        margin: 10px;
         float:none!important;
    }
     main .r-pannel .prd-img-bx img {
        width: 100%;
    }
     main .r-pannel .prd-thumb .prd-detail {
        padding: 0;
    }
     main .r-pannel .prd-thumb .prd-detail a h3 {
        font-size: 10px;
    }
     main .right-col {
        min-height:180px;
    }
     main .right-col .right-box, main .right-col .right-box img {
        height: 180px!important;
    }
     main .right-col .right-box:first-child {
        margin-left: 0;
         margin-top: 10px;
         height: auto;
    }
     footer .newsletter .subs-bx a {
        left: 80%;
    }
     footer .newsletter .subs-bx input {
        width: 75%;
    }
     footer .foot-col-div {
        padding-left:30px;
         padding-right: 40px;
    }
     .cart-page .cart-0out div {
        text-align: center;
    }
     .left-box-pdetail ul {
        margin-top: 20px;
    }
     .left-box-pdetail ul li {
        margin-bottom: 10px
    }
     .thumb-img {
        height: 40px;
         width: 40px;
    }
     .cart-page .cart-ttl .cpn input {
        text-align: center;
         max-width: unset;
    }
     .cart-page .cart-ttl .cpn a {
        float: right;
         margin:20px 0;
    }
     .right-box-pdetail {
        margin-top: 20px;
    }
     a.btn-add {
        font-size: 13px;
    }
     .share-social {
        margin-top:10px;
    }
}
 @media (min-width: 481px) and (max-width: 767px){
     .page-heading h2 i {
        left:34%;
    }
     .carousel.slide .item a.btn-shop {
        float: right;
    }
     .sub-email .modal-dialog {
        max-width: 380px;
         margin: 0px auto;
    }
     header .navbar-default .navbar-collapse {
        float: none;
    }
     main .carousel.slide .carousel-inner .item {
        top:11%;
    }
     main .right-col {
        min-height: 260px
    }
     main .right-col {
        margin-top:20px;
    }
     main .right-col .right-box {
        width:50%;
         float: left;
    }
     main .right-col .right-box:last-child {
        margin-top: 0;
    }
     .carousel.slide .item img {
        max-width:400px;
         margin:0px auto;
    }
     .owl-carousel .owl-nav .owl-prev {
        left:-12px;
    }
     .owl-carousel .owl-nav .owl-next {
        right:-12px;
    }
}
 @media (min-width: 768px) and (max-width: 991px){
     .page-heading h2 i {
        left: 38%;
    }
     main .carousel-inner, main .right-col {
        min-height: 300px;
    }
     main .right-col .right-box {
        width: 49%;
         float: left;
         height: auto;
         margin-top: 20px!important;
    }
     main .right-col .right-box:last-child {
        margin-left: 2%;
    }
     .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
        top:unset;
         bottom: 60px;
    }
     .owl-carousel .owl-nav .owl-prev {
        left:20px;
    }
     .owl-carousel .owl-nav .owl-next {
        right:20px;
    }
}
 @media (min-width: 991px) and (max-width: 1024px){
     .page-heading h2 i {
        left: 41%;
    }
}
 @media (min-width: 320px) and (max-width: 767px){
     main .prd-slider .overlay-disc {
        background-position: bottom center;
    }
     a.filter {
        visibility: visible;
         position: absolute;
         left: 30px;
         top: 5px;
         color:#189870;
         padding:0px 10px;
         border:1px solid #189870;
         border-radius:4px;
         z-index: 9999;
    }
     .filter.navbar-toggle {
        left: 0;
         float: left;
    }
     main .r-pannel .top-controls .control-sort {
        margin-bottom: 10px
    }
     main .prd-slider .overlay-disc p {
        left:28%;
    }
     main .prd-slider .overlay-disc a {
        left: 40%;
    }
     main .l-pannel {
        width: 0px;
         height: 100%;
         transition: ease .3s;
         position: fixed;
         z-index: 11111;
        overflow-x: hidden;
         transition: margin-left .5s;
         top:0;
        left: 0;
         background-color: #fff;
         padding: 0;
    }
     main .l-pannel .closebtn {
        visibility: visible;
         position: absolute;
         top: 0;
         right: 25px;
         font-size: 36px;
         margin-left: 50px;
         z-index: 99999;
    }
    /* main .l-pannel.active {
        width: 100%;
         display: block;
    }
    */
     #container {
        position: relative;
    }
     .owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next {
        bottom:-60px;
         top:unset;
    }
     .owl-carousel .owl-nav .owl-prev {
        left:18px;
    }
     .owl-carousel .owl-nav .owl-next {
        right:18px;
    }
     main .owl-carousel .owl-item {
        padding:0 10px 0px 15px;
    }
     main .owl-carousel .owl-item.active {
        margin-right:0px!important;
    }
     main .right-col .right-box {
        width: 49%;
         float: left;
         height: 270px 
    }
     main .right-col .right-box:last-child {
        margin-left: 2%;
    }
     main .prd-slider {
        padding:20px;
    }
     main h2.h-headings {
        margin:25px 0;
         font-size: 20px;
    }
     main .r-pannel .top-controls select.form-control {
         padding:6px 4px;
         width: 100% ;
         vertical-align:middle;
         display: table-cell;
    }
     .navbar-default .navbar-toggle .icon-bar {
        background-color: #189870;
    }
     .navbar-collapse.in{
        margin-top:15px;
    }
     .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
         background-color:transparent;
    }
     .navbar-default .navbar-collapse, .navbar-default .navbar-form, .navbar-default .navbar-toggle {
        border-color: #189870
    }
     header .navbar-nav li.category-l.open .dropdown-menu li a {
        color:#189870;
    }
     .navbar-default .navbar-nav > a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        color:#189870;
    }
     .navbar-default .navbar-nav li.profile.open .dropdown-menu > li > a, .navbar-default .navbar-nav li.cart.open .dropdown-menu > li > a {
        color:#cfcfcf;
    }
     header .navbar-nav li.cart.open .dropdown-menu {
        position: static;
    }
     header .navbar-default {
        background-color:#3f3b3b;
    }
     header .navbar-nav li .person:hover, header .navbar-nav li .bag:hover, header .navbar-nav li .person:focus, header .navbar-nav li .bag:focus {
        border-color:transparent;
    }
     header .navbar-nav li .person, header .navbar-nav li .bag {
        width: 100%;
         box-shadow:none;
         border:transparent;
         color:#189870!important;
    }
     header .navbar-nav li.profile .dropdown-menu {
        border-color: #189870;
    }
     header .navbar-nav li.profile .dropdown-menu li.divider {
        background-color: #189870;
    }
     header .navbar-nav li .person span, header .navbar-nav li .bag span{
        line-height: 30px;
         left: 40px;
         position: absolute;
    }
     header .navbar-nav li.profile .login-btn {
        color:#fff;
    }
     header .navbar-default .navbar-collapse {
        float:none;
    }
     header .navbar-brand img {
        width: 52px;
    }
     header .navbar-default .navbar-collapse form input {
        height: 70px;
    }
     footer .newsletter {
        margin-top: 30px;
    }
}
 